In [41]:
# 1. Import the necessary libraries

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [42]:
# Load the we_fn_use_c_marketing_customer_value_analysis.csv into the variable customer_df

customer_df = pd.read_csv('files_for_lab/we_fn_use_c_marketing_customer_value_analysis.csv')
customer_df.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [43]:
# 2. Find all of the categorical data. Save it in a categorical_df variable

categorical_df = customer_df.select_dtypes(include=object)
categorical_df.columns

Index(['Customer', 'State', 'Response', 'Coverage', 'Education',
       'Effective To Date', 'EmploymentStatus', 'Gender', 'Location Code',
       'Marital Status', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Vehicle Class', 'Vehicle Size'],
      dtype='object')

In [44]:
# 3. Check for NaN values

categorical_df.isna().sum()

Customer             0
State                0
Response             0
Coverage             0
Education            0
Effective To Date    0
EmploymentStatus     0
Gender               0
Location Code        0
Marital Status       0
Policy Type          0
Policy               0
Renew Offer Type     0
Sales Channel        0
Vehicle Class        0
Vehicle Size         0
dtype: int64

In [45]:
# 4. Check all unique values of columns

categorical_df.nunique()

Customer             9134
State                   5
Response                2
Coverage                3
Education               5
Effective To Date      59
EmploymentStatus        5
Gender                  2
Location Code           3
Marital Status          3
Policy Type             3
Policy                  9
Renew Offer Type        4
Sales Channel           4
Vehicle Class           6
Vehicle Size            3
dtype: int64

In [46]:
# 5. Check dtypes. Do they all make sense as categorical data?

categorical_df.dtypes

Customer             object
State                object
Response             object
Coverage             object
Education            object
Effective To Date    object
EmploymentStatus     object
Gender               object
Location Code        object
Marital Status       object
Policy Type          object
Policy               object
Renew Offer Type     object
Sales Channel        object
Vehicle Class        object
Vehicle Size         object
dtype: object

In [47]:
categorical_df.head()

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,BU79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize

In [48]:
# Response could be a boolean
# Effective To Date could be a datetime

In [49]:
# 6. Does any column contain alpha and numeric data?  Decide how to clean it

categorical_df.drop(columns='Customer', axis=1, inplace=True)

In [50]:
# 7. Would you choose to do anything else to clean or wrangle the categorical data?  Comment your decisions

# Response can be transformed into boolean as there are only 2 values

In [51]:
# Transform Response into boolean
categorical_df['Response'] = categorical_df['Response'].astype(bool)

# Update categorical dataframe
categorical_df = customer_df.select_dtypes(exclude=[np.number, np.datetime64])

In [52]:
categorical_df.dtypes

Customer             object
State                object
Response             object
Coverage             object
Education            object
Effective To Date    object
EmploymentStatus     object
Gender               object
Location Code        object
Marital Status       object
Policy Type          object
Policy               object
Renew Offer Type     object
Sales Channel        object
Vehicle Class        object
Vehicle Size         object
dtype: object

In [53]:
# 8. Compare policy_type and policy. What information is contained in these columns. Can you identify what is important?

categorical_df[['Policy Type', 'Policy']]

         Policy Type        Policy
0     Corporate Auto  Corporate L3
1      Personal Auto   Personal L3
2      Personal Auto   Personal L3
3     Corporate Auto  Corporate L2
4      Personal Auto   Personal L1
...              ...           ...
9129   Personal Auto   Personal L1
9130  Corporate Auto  Corporate L3
9131  Corporate Auto  Corporate L2
9132   Personal Auto   Personal L2
9133  Corporate Auto  Corporate L3

[9134 rows x 2 columns]

In [55]:
categorical_df['Policy Type'].value_counts()

Personal Auto     6788
Corporate Auto    1968
Special Auto       378
Name: Policy Type, dtype: int64

In [56]:
categorical_df['Policy'].value_counts()

Personal L3     3426
Personal L2     2122
Personal L1     1240
Corporate L3    1014
Corporate L2     595
Corporate L1     359
Special L2       164
Special L3       148
Special L1        66
Name: Policy, dtype: int64

In [ ]:
# They provide information about the type of insurance with different level of granularity

In [61]:
# 9. Check number of unique values in each column, can they be combined in any way to ease encoding?  Comment your thoughts and make those changes

print(categorical_df['Policy Type'].value_counts()['Personal Auto'] == categorical_df['Policy'].value_counts()['Personal L3'] + categorical_df['Policy'].value_counts()['Personal L2'] + categorical_df['Policy'].value_counts()['Personal L1'])
print(categorical_df['Policy Type'].value_counts()['Corporate Auto'] == categorical_df['Policy'].value_counts()['Corporate L3'] + categorical_df['Policy'].value_counts()['Corporate L2'] + categorical_df['Policy'].value_counts()['Corporate L1'])
print(categorical_df['Policy Type'].value_counts()['Special Auto'] == categorical_df['Policy'].value_counts()['Special L3'] + categorical_df['Policy'].value_counts()['Special L2'] + categorical_df['Policy'].value_counts()['Special L1'])

True
True
True

In [ ]:
# We can drop Policy column as the same information are provided in both of them